* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.link_light {
    color: white;
}


/*-----FEJLEC-----*/

header {
    background-color: rgba(40, 96, 112, 1);
    margin-top:60px;
    padding-bottom: 5px;
}

.headbar {
    background-color: rgba(100, 139, 138, 1);
    display: block;
    width:100vw;
    height: 2.2em;
    padding-top:.7em;
}

.main-head{
    height: 50vw;
}

.head-cont {
    display:inline-block;
}

.logo {
    width: 50vw;
    padding:8%;
}

.elte-met {
    color: white;
    width: 45vw;
    height: 50vw;
    vertical-align: top;
}

.main_text {
    padding-left:5%;
    display: table;
    width: 100%;
    height: 100%;
}

ul {
    display: table-cell;
    vertical-align: middle;
}

.main_text h1 {
    padding-top: 5%;
    padding-bottom: 5%;
    font-size:6vw;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}

h1.elte{
    font-size:10vw;
    font-weight: 300;
}

@media (min-width:600px) {
    
    header {
        margin-top: 0px;
    
    }
    
    .main-head {
        padding: 15px;
        height: 145px;
    }
    
    .logo {
        height: 120px;
        width: auto;
        padding:0;
    }
    
    .elte-met {
        height: 120px;
    }
    
    .main_text h1 {
        padding-top: 0%;
        padding-bottom: 0%;
        font-size:2em;
    }
    
    h1.elte{
        font-size:2em;
        font-weight: 300;
    }
}

/*-----MENU-----*/

.topnav a, .hallgatoknak, .deptinfo{
    display: none;
}

.topnav {
    position: fixed;
    top:0;
    right:0;
    padding: 20px;
    background-color: rgba(40, 96, 112, 1);
    width: 100%;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .7);
    font-family: 'Roboto Condensed', sans-serif;
}


.topnav a.icon {
    display: block;
    float:right;
    font-size: 20px;
    color: white;
}

.topnav.responsive {
    position: fixed;
    z-index: 999;
    padding:0px;
}

.topnav.responsive a.icon {
   position: absolute;
   right: 0;
   top: 0;
   display:inline-block;
   padding: 20px;
}

.topnav.responsive a:not(:last-child) {
   float: none;
   display: block;
   text-align: left;
   padding:20px;
   color: white;
   font-size:20px;
}

.topnav.responsive .deptinfo, .topnav.responsive .hallgatoknak {
    display: block;
    font-size:20px;
    color: white;
    font-family: inherit;
    outline: none;
    padding:0px;
}

.topnav.responsive .dropdwn_content a:last-child{
    float: none;
   display: block;
   text-align: left;
   padding:20px;
   color: white;
   font-size:20px;
}


a .fa {
    font-size: 17px;
    color: rgba(255, 255, 255, .8);
}

.dropdwn_content {
    display: none;
}

.dropdwn:hover .dropdwn_content {
    display: block;
    background-color: rgba(100, 139, 138, 1);

}

.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(255, 255, 255, .2);
    color: white;
}

@media (min-width:600px) {

nav {
    position: relative;
    z-index: 999;
    background-color: rgba(40, 96, 112, 1);
    padding: 0px;
    box-shadow: 0px 7px 8px rgba(0, 0, 0, .3);
}

.topnav {
    position: relative;
    padding: 0px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .0);
    width: 600px;
    height: 36px;
    margin: 0 auto;
    background-color: rgba(40, 96, 112, 1); 
}

.topnav a{
    display: block;
    float: left;
    margin: 0px;
    text-align: center;
    color: white;
    font-size:16px;
    padding-right: 19px;
    padding-left: 19px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-transform: uppercase;
}

.topnav a.icon {
    display: none;
}


.deptinfo, .hallgatoknak{
    outline: none;
    border: 0px;
    margin: 0;
}

.dropdwn_content{
    position: absolute;
    top: 36px;
}

.dc_hall {
    left: 77px;
}

.dc_dept {
    left: 455px;
    width: 180px;
}

.dropdwn_content a{
    display: block;
    float: none;
    text-align: left;
}

nav .fa {
    display: none;
}

}




/*-----LOCATION-----*/

.currloc {
    background-color: rgba(100, 139, 138, 1);
    display: block;
    width:100vw;
    height: 2.2em;
    padding-top:.7em;
    padding-bottom:.7em;
    padding-left: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}

@media (min-width:600px) {
    
    .currloc {
        position: relative;
        background-color: rgba(255, 255, 255, 1);
    }

    .currloc a {
        color: rgba(40, 96, 112, 1);
    }
}

/*-----CONTENT-----*/
.content {
    padding: 20px;
    background-color: #fff;
}

.content p {
padding: 10px;
}



/*-----FOOTER-----*/

footer {
    width: 100vw;
    background-color: rgba(40, 96, 112, 1);
    color: white;
    padding:20px;
}

.footer_contact{
    text-align: center;
}

.footer_contact h1 {
    padding-bottom: 20px;
    font-weight: 900;
    padding-top:10px;
}

.webmaestros {
    padding-top: 20px;
    padding-bottom: 5px;
    text-align: center;
}

span {
    font-weight: 900; 
}

@media (max-width:600px) {
.footer_contact::after {
    display: inline-block;
    content: "";
    background-color: #fff;
    height: 1px;
    width: 90vw;
    vertical-align: middle;
    margin-top: 20px;
}
}
.webdev {
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (min-width:600px) {

    footer {
        bottom: 0;
        padding: 0px;
        height: 150px;
        margin: 0px;
        width: 100vw;
    }

    .footer_contact, .webmaestros {
        width: 30%;
        display:none;
        padding: 0px;
        margin: 0px;
    }

    .pagemap .copyright {
        display: none;
    }

    }

