* {
    box-sizing: border-box;
}

header {
    background-color: rgba(40, 96, 112, 1);
}

.headbar {
    background-color: rgba(100, 139, 138, 1);
    display: block;
}

.main-head{
    height: 50vw;
}

.head-cont {
    display:inline-block;}

.logo {
    width: 50vw;
    padding:8%;
    
}

.elte-met {
    color: white;
    width: 50vw;
    height: 50vw;
    vertical-align: top;
}

.elte {
    padding-left:10%;
    display: table;
    width: 100%;
    height: 100%;
}

ul {
    display: table-cell;
    vertical-align: middle;
}

h1 {
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 1.5em;
}