body {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    height: 100vh;
}

.link_light {
    color: white;
}

.content{
    width: 100vw;
    margin: 0px;
    padding: 0px;
    margin-top: 30px;
}

.content h1{
    text-align: center;
    padding-bottom: 20px;
    font-size: 1.8em;
    font-family: 'Roboto Slab', serif;
    color: rgba(40, 96, 112, 1);
}

.content h2{
    text-align: center;
    padding-bottom:40px;
    font-size: 1.5em;
    font-family: 'Roboto Slab', serif;
    color: rgba(93, 150, 148, 1);
}

    .pic-cont{
        width: 170px;
        height: 170px;
        margin: 0 auto;
    }

    .staff_container, .staff_container_row {
        width: 80vw; 
        margin: 0 auto;
    }

    .staff_info{
        display: inline-block;
        width: 100%;
        min-height: 200px;
        padding: 20px;
        padding-bottom: 0px;
        margin-bottom: 30px;
    }
.staff_info.row{
    min-height: 50px;
    padding-bottom: 0px;
}

@media (max-width:600px) {
    .no_picture .pic-cont{
        display:none;
    }
}

@media (min-width:600px) {
    .pic-cont{
        width: 170px;
        height: 170px;
        display: block;
        float:left;
    }

    .staff_container, .staff_container_row{
        display: inline-block;
        width: 600px;
        margin-left: calc(50vw - 300px);
        min-height:170px;
    }
    
    .staff_info{
        display: block;
        padding-top: 0px;
        padding-left: 20px;
        padding-right: 20px;
        width: 430px;
        min-height: 170px;
        float:left;
    }

    .staff, .staff.row{
        width: 600px;
        float: left;
    }

    .staff_info.row{
        min-height: 50px;
        padding-bottom: 0px;
    }

}

@media (min-width:1200px) {
    .staff_container {
        width: 1200px;
        margin-left: calc(50vw - 600px);
    }

    .staff_container_row{
        display: inline-block;
        width: 600px;
        margin-left: calc(50vw - 300px);
        min-height:100px;
    }

    .staff{
        display: block;
        width: 600px;
        float: left;
        height: 250px;
    }

    .staff.row{
        width: 600px;
        display:inline-block;
        height: auto;
        margin: 0px;
        padding: 0px;
    }

    .staff_info.row{
        min-height: 50px;
        padding-bottom: 0px;
    }
}



.staff p {
    font-size: 1em;
    padding: 0px;
    padding-bottom:5px;
}


.st {
    margin-bottom: 10px;
}

.st span {
    color: rgba(40, 96, 112, 1);
}



.staff-head {
    display: inline-block;
}

.pic-cont img {
    height: 100%;
    border-radius: 50%;
    padding: 1px;
    background-color: rgb(163, 162, 162);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
}

.staff-head h3 {
    display: inline-block;
    font-weight: 900;
    font-size: 1.2em;
    margin-bottom: 0.2em;
}

.staff-head a{
    color: rgba(100, 139, 138, 1);
}

.staff-head p {
    display: inline-block;
}

.staff-pub{
    background-color: aqua;
    display: table;
    width: 50px;

    width: 100%;
}

.staff-pub p {
    display: table-cell;
    vertical-align: middle;
    padding-right: 15px;
    position: relative;
    z-index: 10;
}

.staff-pub a {
    padding-right: 15px;
    position: relative;
    z-index: 10;
}

.pub_logo {
    height: 1.5em;
    filter: grayscale(100%);
}

.pub_logo:hover {
    filter: grayscale(0%);
    transition: all 0.2s ease-in-out;
}


.easter_egg{
    position: relative;
    top: -170px;
    display:none;
}

.easter_egg.surp{
    position: relative;
    z-index: 5;
    top: -171px;
    display:inline-block;
}

.cursor {
    cursor: default;
}