.query{
  display: flex;
  justify-content: center;
}

select{
  width: 150px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid rgba(93, 150, 148, 1);
  background-color: rgb(241, 240, 240);
}

option{
  border: none;
  background-color: white;
}

.content{
  overflow: auto;

}

.direct_container {
  padding: 20px 0px 50px 0px;
  display: flex;
  justify-content:center;
  gap: 50px;
}

.direct_container a{
  padding: 20px;
  background-color: rgba(93, 150, 148, .7);
  color: white;
  text-shadow: 1px 1px 10px rgb(83, 81, 81);
  font-weight: 700;
  transition: 0.2s;
  border-radius: 10px;
  margin-top: 50px;
}

.direct_container a:hover{
  transform: scale(1.05, 1.05); 
}

@media (max-width:500px) {
  .direct_container {
      padding: 20px 0px 50px 0px;
      display: flex;
      justify-content:center;
      gap: 2%;
  }
}
