.mapouter{
  position:relative;
  text-align: center;
  height:auto;
  width:auto;
  margin-right: 10px;
}

.gmap_canvas {
  overflow:hidden;
  background:none;
  height:auto;
  width:auto;
}


@media (min-width: 950px) {
  .flex-wrap{
    margin: 10px;
    display: flex;
  }
}

ul{
  padding-top: 10px;
}

.inside-contact{
  margin-top: 10px;
  margin-right: 10px;
}