
/*Általános stílusbeállítások*/
.content{
    background-color:none;
    position: relative;
    z-index: 100;
    height: auto;
}

.wrap {
    position: relative;
    z-index: 100;
}


/* A képzési kártyák beállításai */

.box{
    width: 90%;
    margin: 20px auto;
    border-radius: 8px;
    background-color: rgba(93, 150, 148, .8);
    overflow: hidden;
    transition: 0.4s;
}

.foldtud{
    background-color: rgba(40, 96, 112, .7);
}

.main_drop{
    height: 50px;
    transition: 0.4s;
}

.left {
    float: left;
    display: table;
    height: 100%;
}

.right {
    float: right;
    display: table;
    height: 100%;
}

.left p, .right a{
    display: table-cell;
    vertical-align: middle;
    padding: 0px 20px 0px 20px;
    color: white;
    font-weight: bolder;
}


.cont_dropdown {
    display: inline-block;
    position: relative;
    margin: 20px;
    margin-top: 0px;
    color: white;
    transition: 0.4s;
}

.foldtud span{
    color: white;
    font-weight: bolder;
}

/* Az elválasztó képek beállításai */
.separator{
    height: 200px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .7);
    position: relative;
}


.weather-background-wrap{
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
.weather-background{
    background-image: url(../media/main_jelen/zapor.jpg);
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    transform: translateZ(0);
    will-change: transform;
    transition: .4s;
    z-index: -1;
}


#main1 {
    background-image: url(../media/20210518.jpg);
    background-color: rgba(0, 0, 0, .2);
    background-blend-mode: multiply;
    background-position: center center;
}

#main2 {
    background-image: url(../media/DSCF0606.JPG);
    background-attachment:fixed;
    background-position: center center;
}

#main3 {
    background-image: url(../media/DSCF0214.JPG);
    background-position: bottom;
    background-position: center center;
}

#main4 {
    background-image: url(../media/DSCF3586.JPG);
    background-position: center;
}

.separator-flex{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.separator h1 {
    font-size: 1.8em;
    font-family: 'Roboto Slab', serif;
    color: rgba(250, 250, 250, 1);
    text-shadow: 0px 5px 10px black;
    text-align: center;
}

main span {
    color: rgba(40, 96, 112, 1);
}

.source p{
    padding: 10px;
    font-size: .9em;
    font-style: italic;
}

.content li{
    padding: 10px;
}

.jobs{
    width: 100%;
    min-height: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.jobs-image{
    height: 150px;
    width: 150px;
}

.jobs-image img{
    height: 150px;
    width: auto;  
}

.jobs-text {
    width: calc(100% - 170px);
    margin: 10px 0px;
}

.jobs-text p{
   padding: 2px 0px;
}

.social-cont{
    margin-bottom: 30px;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(122, 122, 122, 0.7);
    border-radius: 10px;
    justify-content: space-between;
    background-color: rgba(93, 150, 148, .4);
}

.soc-img{
    margin: 10px;
    width: 80%;
    margin: 0 auto;
    padding-top:20px;

}

.soc-img img{
    width: 100%;
    border-radius: 10px;
}

.soc-text{
    width: 100%;
    padding:20px;
}

@media (min-width:700px) {
    .social-cont{
        width: 100%;
        
        box-shadow: 0px 0px 10px rgba(122, 122, 122, 0.7);
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
    }

    .soc-img{
        margin: 10px;
        width: 30%;
        padding: 10px;
    }
    
    .soc-img img{
        width: 100%;
    }

    .soc-text{
        width: 69%;
    }
}




