a[href^=tel] {
    text-decoration:inherit;
    color: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    /*height: 100vh;*/
}

.link_light {
    color: white;
}

.darkgreen {
    color: rgba(40, 96, 112, 1);
}

.content {
    padding: 20px;
}

.content p {
    padding: 10px;
    line-height: normal;
    text-align: justify;
    text-justify: inter-word;
}

.content h1{
    text-align: center;
    padding-bottom: 40px;
    font-size: 1.8em;
    font-family: 'Roboto Slab', serif;
    color: rgba(40, 96, 112, 1);
}

.content h2{
    text-align: left;
    padding-bottom:40px;
    padding: 10px;
    font-size: 1.2em;
    font-family: 'Roboto Slab', serif;
    color: rgba(93, 150, 148, 1);
}

.content h3 {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    color: rgba(40, 96, 112, 1);
    font-size: 1.2em;
    padding: 15px;
}

.content{
    padding-top: 30px;
    padding-bottom: 30px;
}

.lightgreen {
    color: rgba(93, 150, 148, 1);
    font-weight: 900;
}

li{
    padding-left: 20px;
}

@media (min-width:1200px) {
    main {
        width: 100%;
        /*height: 100%;*/
    }

    .content{
        max-width: 1200px;
        margin: 0 auto;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.content .butcontainer{
    display: flex;
    justify-content: center;
}

.content .langbut{
    border: none;
    padding: 8px 15px;
    margin: 10px;
    margin-bottom: 30px;
    background-color: rgba(40, 96, 112, 1);
    color: white;
    font-weight: 700;
    border-radius: 20px;
    transition: 0.4s;
}

.content .langbut:hover{
    transform: scale(1.1, 1.1);
}
.complex-table{
    width: 100%;
    text-align: center;
    font-size: .8em;
    word-wrap:break-word;
}

.complex-table td{
    border: 1px solid black;
    padding: 5px;
}

.complex-table caption{
    font-style: italic;
    margin-bottom: 10px;
}

.resimage-container img{
    width: 100%;
}

@media (min-width:800px) {
    .complex-table{
        width: 700px;
        margin: 20px auto;
    }

    .resimage-container{
        display: flex;
        justify-content: center;
        margin: 20px 0px;
    }

    .resimage-container img{
        width: 600px;
    }

}

.complex-table tr.trhead{
    background-color: rgba(93, 150, 148, .5);
}

.table-cont{
    padding: 5px;
    overflow: scroll;
}


