
/*WEATHER WIDGET*/
.weather-background-wrap{
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.weather-background{
  background-image: url(../media/main_jelen/zapor.jpg);
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: bottom center;
  transform: translateZ(0);
  will-change: transform;
  transition: .4s;
}

.widget-image{
  width: 100%;
  height: 500px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .7);
}

.widget{
  background-color: rgba(16, 40, 48, 0.5);
  height: 100%;
  width: 500px;
  color: white;
  text-shadow: 1px 1px 10px black;
  padding-top: 20px;
  position: relative;
}

.widget-placeholder{
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(16, 40, 48, 0.5));
  height: 100%;
  width: 300px;
  z-index: 1;
}

.widget h2{
  padding-top: 10px;
  font-size: 1.2em;
  text-align: center;
  font-weight: 700;
  color:rgb(219, 229, 231);
  text-shadow: 1px 1px 10px black;
}

.mettable{
  margin: 20px;
}

.jelen span{
  font-size: 1.1em;
  display: block;
  text-align: center;
  margin-bottom: 30px;
}

.jelen i{
  display: block;
  text-align: center;
  font-size: 3em;
  padding: 10px 20px;
}

.weather-data{
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}

.weather-data i{
  margin-bottom: 10px;
  font-size: 1.3em;
  width: 40px;
}

.astronomy{
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.redirect{
  display: flex;
  margin-top: 35px;
  justify-content: center;
}

.redirect a{
  background-color: rgba(93, 150, 148, 1);
  border: none;
  padding: 2%;
  color: white;
  font-weight: 700;
  text-shadow: none;
  border-radius: 20px;
  white-space: nowrap;
}

.data-source {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 6px;
  font-size: .8em;
  color: rgb(235, 235, 235);
  font-style: italic;
}

.image-source{
  padding: 6px;
  font-size: .8em;
  font-style: italic;
}

@media (min-width:600px) {
    
  .currloc {
    background-color: unset;
  }

}

@media (max-width:600px) {
  .widget-placeholder{
    display: none;
  }

  .widget{
    width: 100%;
    min-height: 500px;
  }

  .redirect{
    margin-bottom: 10px;
  }
}

/* CONTENT*/
.content{
  padding: 10px 0px;
}

.box1{
  margin: 0 auto;
  margin-bottom: 10px;
  max-width: 400px;
}

.box2{
  margin: 30px auto;
  margin-bottom: 10px;
}



/* NEWS */
.news-container{
  height: 200px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.redirect-placeholder{
  position: absolute;
  background-image: linear-gradient(to top, rgba(255,255,255,1) 60%, rgba(16, 40, 48, 0));
  width: 100%;
  height: 80px;
  bottom: 0;
}

.redirect-placeholder i{
  position: absolute;
  bottom: 0;
  font-size: 1.5em;
  color: rgba(40, 96, 112, 1);
  transition: 0.4s ease 0s;
  left: 46%;
}

.redirect-placeholder i:hover{
  position: absolute;
  bottom: 0;
  font-size: 1.5em;
  color: rgba(40, 96, 112, .5);
  transform: translateY(-8px);
  transition: 0.4s ease 0s;
}

.news-container p{
  font-size: smaller;
  padding: 5px;
}

.subbox{
  position: relative;
  margin: 20px auto;
  width: 90%;
  height: 200px;
  overflow: hidden;
}



@media (min-width:700px) {
  .content{
    margin-top: 20px;
    display: flex;
  }

  .box1{
    min-width: 300px;
    margin-left: 20px;
    padding-left: 10px;
  }

  .box2 {
    margin-top: 0px;
    width: 100%;
  }
} 

@media (min-width:1100px) {
  .box1{
    padding-left: 10px;
    width: 500px;
  }

  .box2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .subbox{
    margin:  0px 10px;
    margin-bottom: 20px;
    width: 350px;
  }
}

.text{
  background-color: rgba(93, 150, 148, .7);
  position: absolute;
  top: 75%;
  width: 100%;
  height: 100%;
  transition: 0.4s ease 0s;
}

.text:hover{
  position: absolute;
  top: 0;
  transition: 0.4s ease 0s;
  background-color: rgba(93, 150, 148, 1);
}

/*
#subbox1{
  background-image: url(../media/campus.jpg);
  background-color: rgba(70, 70, 70, 0.705);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}*/


.subbox h6{
  color: white;
  font-family: 'Roboto Slab', serif;
  font-size: 1.3em;
  padding: 12px;
  text-shadow: 1px 1px 10px black;
}

.text p{
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  text-shadow: 1px 1px 10px black;
  font-size: .9em;
}

.subbox img{
  width: 100%;
}

#subbox2 img{
  filter: saturate(60%);
  width: 250%;
}
